<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.activity.repository.mapper.MqMsgSendFailRecordMapper">

    <resultMap id="BaseResultMap" type="org.example.activity.repository.entity.MqMsgSendFailRecord">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="msgContent" column="msg_content" jdbcType="VARCHAR"/>
        <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
        <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,state,msg_content,
        fail_reason,send_time
    </sql>
</mapper>
